version: '{{ docker.version }}'
services:
  {% for service in docker.services %}
  {{ service.name }}:
    image: {{ service.image }}:{{ service.tag }}
    {% if service.ports %}
    ports:
      {% for port in service.ports %}
      - "{{ port }}"
      {% endfor %}
    {% endif %}
    {% if service.environment %}
    environment:
      {% for key, value in service.environment.items() %}
      {{ key }}: {{ value }}
      {% endfor %}
    {% endif %}
    {% if service.volumes %}
    volumes:
      {% for volume in service.volumes %}
      - {{ volume }}
      {% endfor %}
    {% endif %}
  {% endfor %}
