{
  "name": "{{ project.name }}",
  "version": "{{ project.version }}",
  "description": "{{ project.description }}",
  "author": "{{ project.author.name }} <{{ project.author.email }}>",
  "license": "{{ project.license }}",
  "dependencies": {
    {% for dep, version in project.dependencies.items() %}
    "{{ dep }}": "{{ version }}"{% if not loop.last %},{% end %}
    {% end %}
  },
  "scripts": {
    {% for name, command in project.scripts.items() %}
    "{{ name }}": "{{ command }}"{% if not loop.last %},{% end %}
    {% end %}
  }
}
