repos:
- repo: local
  hooks:
    - id: ruff-check
      name: ruff check
      entry: ruff check
      language: system
      types: [python]
    - id: pytest-affected
      name: pytest affected
      entry: scripts/pre-commit/run-tests.sh
      language: system
      files: ''
      pass_filenames: true
      types: [python]
    - id: prepush-checks
      name: pre-push checks
      entry: scripts/pre-commit/run-pre-push.sh
      language: system
      stages: [push]
