
age = {{ user.age }}
active = {% if user.active %}true{% else %}false{% endif %}
skills = [ "{{ user.skills.0 }}"{% if user.skills.1 %}, "{{ user.skills.1 }}"{% endif %} ]

{% include 'header.toml' %}

{% for job in user.jobs %}
[[jobs]]
title = "{{ job.title }}"
company = "{{ job.company }}"
{% if loop.last %}
# last job marker
{% endif %}
{% endfor %}

{% include 'footer.toml' %}


