 
# User Profile

{% include 'header.html' %}

## {{ user.name }}

- Age: {{ user.age }}
- Active: {% if user.active %}Yes{% else %}No{% end %}
- Skills:
  {% for s in user.skills %}
  - {{ s }}{% end %}
- Jobs:
  {% for job in user.jobs %}
  - {{ job.title }} at {{ job.company }}{% if loop.last %} (current){% end %}
  {% end %}

{% include 'footer.html' %}

