<html>
  <head><title>User</title></head>
  <body>
    {% include 'header.html' %}
    <div id="profile">
      <h1>{{ user.name }}</h1>
      <p>Age: {{ user.age }}</p>
      <p>Active: {% if user.active %}Yes{% else %}No{% endif %}</p>
      <ul>
        {% for s in user.skills %}
        <li>{{ s }}</li>
        {% endfor %}
      </ul>
      <p>Jobs:</p>
      <ul>
        {% for job in user.jobs %}
        <li>{{ job.title }} at {{ job.company }}{% if loop.last %} (current){% endif %}</li>
        {% endfor %}
      </ul>
    </div>
    {% include 'footer.html' %}
  </body>
</html>

